<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Ontime-Packages" value="https://nuget.pkg.github.com/ontime-bike/index.json" />
  </packageSources>

  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="Azure.*" />
      <package pattern="Batec.*" />
      <package pattern="Microsoft.*" />
      <package pattern="MySqlConnector" />
      <package pattern="NETStandard.Library" />
      <package pattern="Newtonsoft.Json" />
      <package pattern="Npgsql*" />
      <package pattern="NUnit*" />
      <package pattern="Pomelo.*" />
      <package pattern="System.*" />
      <package pattern="Humanizer.*" />
      <package pattern="Mono.*" />
    </packageSource>
    <packageSource key="Ontime-Packages">
      <package pattern="Batec.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
