<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="MySQL" type="MySql.Data.MySqlClient.MySqlConfiguration, MySql.Data" />
	</configSections>
	<MySQL>
		<AuthenticationPlugins>
			<add name="mysql_clear_password" type="Microsoft.Azure.Data.Extensions.MySql.AzureIdentityMysqlAuthenticationPlugin, Microsoft.Azure.Data.Extensions.MySql"></add>
		</AuthenticationPlugins>
		<Replication>
			<ServerGroups></ServerGroups>
		</Replication>
	</MySQL>
</configuration>